#batchSettings .button.batch_choose_batch_folder {
	margin-left: 2px;
	vertical-align: top;
}

#batch_settings_submit.button {
	margin-left: 52px;
	margin-top: 4px;
}

.batchSettingsIcon {
	width: 16px;
	margin-left: 16px;
	filter: invert(90%) sepia(9%) saturate(3383%) hue-rotate(14deg) brightness(92%) contrast(82%);
}

.batchAboutIcon {
  width: 28px;
  margin-left: 16px;
  margin-bottom: 12px;
  filter: invert(90%) sepia(9%) saturate(3383%) hue-rotate(14deg) brightness(92%) contrast(82%);
}

.batch_choose_batch_folder, .batch_choose_input_file, .batch_choose_output_folder {
	margin-bottom: 6px;
}

#batch-info {
  float: right;
  margin-right: 8px;
  margin-top: 23px;
}

.ui-widget-content a {
  color: #0376a3;
}

#batchSettings input {
  width: 320px;
}